<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Web Development with Node and Express
    </title>
</head>

<body>
    <header>
        <nav>
            <h1>Meadwolark Travel</h1>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>&copy; 2021 Meadowlark Travel</footer>
</body>

</html>